@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes slideFromRight {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.animate-item {
  opacity: 0;
  animation: slideFromRight 1.5s ease forwards;
}

.delay-1 {
  animation-delay: 0.4s;
}

.delay-2 {
  animation-delay: 0.6s;
}

.delay-3 {
  animation-delay: 0.8s;
}

.delay-4 {
  animation-delay: 0.9s;
}
@keyframes slideFromLeft {
  0% {
    opacity: 0;
    transform: translateX(-100%);
    transform: rotateY(0deg);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
    transform: rotateY(360deg);
  }
}

.animation-left{
  opacity: 0;
  animation: slideFromLeft 1.5s ease forwards;
  animation-delay: 0.6s;
}

/* Animation for move item bottom to top  */
@keyframes slideFromBottom {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animation-bottom{
  opacity: 0;
  animation: slideFromBottom 1.5s ease forwards;
}
.b-delay-1{
  animation-delay: 0.8s;
}

.b-delay-2{
  animation-delay: 1s;
}